@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ? Buttons */
  .button-filled {
    @apply rounded-10 bg-yellow py-4 px-[45px] text-base font-bold text-white dark:bg-darkOrange;
  }
  .button-outline {
    @apply rounded-10 border-2 border-yellow bg-transparent py-4 px-[60px] text-base font-bold text-darkGrey dark:border-darkOrange dark:text-white;
  }

  /* ? Typography */
  .heading-1 {
    @apply text-5xl font-semibold text-black dark:text-white;
  }
  .heading-2 {
    @apply text-4xl font-semibold text-black dark:text-white;
  }
  .heading-3 {
    @apply text-3xl font-medium text-black dark:text-white;
  }
  .heading-4 {
    @apply text-2xl font-medium text-black dark:text-white;
  }
  .body-text {
    @apply text-lg font-normal text-black dark:text-white;
  }
  .small-text {
    @apply text-base font-normal text-black dark:text-white;
  }
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-veryLightGrey dark:bg-black;
}

#root {
  @apply mx-auto w-3/4 max-w-6xl;
}
